body {
    margin: 0;
}

h1 {
    margin: 0;
}

header {
    background-color: #4F2C80;
    height: 15vh;
}

nav {
    background-color: #E57C4A;
    height: 5.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans';
    color: #F2EFE9;
    font-size: larger;
    letter-spacing: 8px;
}

main {
    background-color: white;
    height: 65vh;
}
