<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="salas.CSS">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Khand' rel='stylesheet'>
</head>

<body>
    <header>
        <div>
            <h1 class="logo">CICALT</h1>
        </div>
        <div class="logo2">
            <a href="">Contato</a href="">
            <a href="">Cursos</a href="">
            <a href="">EMTI</a href="">
        </div>
        <div>
            <button class="painel"><i class="bi bi-person-circle fs-6"></i></button>
        </div>
    </header>
    <nav>
        <a href="">
            <p>Jornal</p>
        </a>
        <a href="">
            <p>Sobre</p>
        </a>
        <a href="">
            <p>Fotos</p>
        </a>
        <a href="">
            <p>Calendário</p>
        </a>
    </nav>
    <main>
        <div class="imagem"></div>
        <div class="texto">
            <h1 class="titulo">Oxidação de Dipirona</h1>
            <h1 class="componentes">Componentes: Emanuelle Inês; Verônica dos Santos; Maria Júlia, Laura Elisa</h1>
            <p class="textoreal">Transformação da cor ao decorrer do experimento</p>
        </div>
        <div class="imagem"></div>
        <div class="texto">
            <h1 class="titulo">Pasta de Dente de Elefante</h1>
            <h1 class="componentes">Componentes: Clara Serrão</h1>
            <p class="textoreal">A pasta de dente de elefante é uma substância espumosa causada pela rápida decomposição
                do peróxido de hidrogênio usando iodeto de potássio ou levedura e água morna como catalisador</p>
        </div>
        <div class="texto">
            <h1 class="titulo">Períca Criminal</h1>
            <h1 class="componentes">Componentes: Karol, Billynar, Isadora, Manuela</h1>
            <p class="textoreal">Falaremos brevemente sobre a perícia criminal e iremos fazer uma demonstração e duas
                experiências que consistem em: coleta de amostra de cadáver feito de massa de farinha e simulação de
                limpeza de sangue com tinta neon e luz ultravioleta.</p>
        </div>
    </main>
    <footer>
    </footer>

</html>