<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="icon\cicalt-logo.ico" type="image/x-icon"/>
    <title>CICALT</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="calendario.css">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Khand' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="wario">
            <h1 class="logo"><a href="index.html">CICALT</a></h1>
        </div>
        <div class="logo2">
        </div>
        <div>
            <a href="https://cidadao.mg.gov.br/"><button class="painel"><i class="bi bi-person"></i></button></a>
        </div>
    </header>
    <nav>
        <a href="jornal.html" style="margin-left: 13px;" target="_blank"><p>Jornal</p></a>
        <a href="sobre.html" target="_blank"><p>Sobre</p></a>
        <a href="fotos.html" target="_blank"><p>Fotos</p></a>
        <a href="calendário.html" target="_blank"><p>Calendário</p></a>
    </nav>

    <div class="calendas">
        <div class="meses">
            <div class="mes">
                <p>DL: 0</p>
                <p>JANEIRO 
                </p>
                <p>DE: 0</p>
            </div>
            <h2>D</h2>
            <h2>S</h2>
            <h2>T</h2>
            <h2>Q</h2>
            <h2>Q</h2>
            <h2>S</h2>
            <h2>S</h2>
            <p> </p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p>10</p>
            <p>11</p>
            <p>12</p>
            <p>13</p>
            <p>14</p>
            <p>15</p>
            <p>16</p>
            <p>17</p>
            <p>18</p>
            <p>19</p>
            <p>20</p>
            <p>21</p>
            <p>22</p>
            <p>23</p>
            <p>24</p>
            <p>25</p>
            <p>26</p>
            <p>27</p>
            <p>28</p>
            <p>29</p>
            <p>30</p>
            <p>31</p>
        </div>

        <div class="meses">
            <div class="mes">
                <p>DL: 16</p>
                <p>FEVEREIRO 
                </p>
                <p>DE: 2</p>
            </div>
            <h2>D</h2>
            <h2>S</h2>
            <h2>T</h2>
            <h2>Q</h2>
            <h2>Q</h2>
            <h2>S</h2>
            <h2>S</h2>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p style="color: orange;">1</p>
            <p style="color: orange;">2</p>
            <p>3</p>
            <p>4</p>
            <p style="color: purple;">5&</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p>10</p>
            <p>11</p>
            <p style="color: green;">12</p>
            <p style="color: green;">13</p>
            <p style="color: green;">14</p>
            <p>15</p>
            <p>16</p>
            <p>17</p>
            <p>18</p>
            <p>19</p>
            <p>20</p>
            <p>21</p>
            <p>22</p>
            <p>23</p>
            <p>24</p>
            <p>25</p>
            <p>26</p>
            <p>27</p>
            <p>28</p>
            <p>29</p>
        </div>

        <div class="meses">
            <div class="mes">
                <p>DL: 19</p>
                <p>MARÇO 
                </p>
                <p>DE: 0</p>
            </div>
            <h2>D</h2>
            <h2>S</h2>
            <h2>T</h2>
            <h2>Q</h2>
            <h2>Q</h2>
            <h2>S</h2>
            <h2>S</h2>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p>10</p>
            <p>11</p>
            <p>12</p>
            <p>13</p>
            <p>14</p>
            <p>15</p>
            <p>16</p>
            <p>17</p>
            <p>18</p>
            <p>19</p>
            <p>20</p>
            <p>21</p>
            <p>22</p>
            <p>23</p>
            <p>24</p>
            <p>25</p>
            <p>26</p>
            <p>27</p>
            <p style="color: green;">28</p>
            <p style="color: brown;">29</p>
            <p>30</p>
        </div>

        <div class="meses">
            <div class="mes">
                <p>DL: 22</p>
                <p>ABRIL 
                </p>
                <p>DE: 0</p>
            </div>
            <h2>D</h2>
            <h2>S</h2>
            <h2>T</h2>
            <h2>Q</h2>
            <h2>Q</h2>
            <h2>S</h2>
            <h2>S</h2>
            <p> </p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p>10</p>
            <p>11</p>
            <p>12</p>
            <p>13</p>
            <p>14</p>
            <p>15</p>
            <p>16</p>
            <p>17</p>
            <p>18</p>
            <p>19</p>
            <p>20</p>
            <p style="color: brown;">21</p>
            <p>22</p>
            <p>23</p>
            <p>24</p>
            <p>25</p>
            <p>26</p>
            <p>27</p>
            <p>28</p>
            <p>29</p>
            <p>30</p>
        </div>
        
        <div class="legenda">
            <div class="cabca">
                <p>Datas notáveis</p>
            </div>
            <p>1/1 - Confraternização Universal</p>
            <p>13/2 - Carnaval</p>
            <p>14/2 - Quarta-feira de Cinzas</p>
            <p>4/3 - Início da semana de combate à violência contra a mulher</p>
            <p>8/3 - Dia Internacional da mulher</p>
            <p>8/3 - Término da semana de combate à violência contra a mulher </p>
            <p>21/3 - Dia internacional contra discriminação racil</p>
            <p>28/3 - Quinta-feira Santa</p>
            <p>29/3 - Sexta-feira Santa</p>
            <p>21/4 - Tiradentes</p>
            <p>1/5 - Dia do Trabalho </p>
            <p>12/5 - Dia das mães</p>
            <p>17/5 - Dias Estadual Contra a homofobia </p>
            <p>29/5 - Dia Nacional Do Censo Escolar</p>
            <p>30/5 - Corpus Christi</p>
            <p>5/6 - Dia Mundial Do Meio Ambiente</p>
            <p>12/6 - Dia Nacional De Combate Ao Trabalho Infantil</p>
            <p>19/6 - Inicio Da Semana Estadual De Prevenção as Droga</p>
            <p>26/6 - Tèrmino Da Semana Estadual da prevenção as Drogas</p>
            <p>19/7 - Festa Julina</p>
            <p>11/8 - Dia Do Estudante</p>
            <p>12/8 - Inicio Da Semana Estadual Da Prevenção Às Drogas</p>    
            <p>11/8 - Dia Dos Pais</p>
            <p>15/8 - Asunção De nossa Senhora</p>
            <p>18/8 - Término Da Semana Estadual  Das Junvetudes</p>
            <p>7/9  - Dia Da Independência Do Brasil</p>
            <p>10/10 - Dia Nacional De Segunrança e De saúde Nas Escolas</p>
            <p>12/10 - Dia De nossa Senhora Da Aparecida </p>
            <p>15/10 - Dia Do Professor</p>
            <p>28/10 - Dia Do Funcionario Público </p>
            <p>2/11 - Finados</p>
            <p>15/11 - Proclamção Da Republica </p>
            <p>18/11 - Inicio Da Semana  De Educação Para a Vida</p>
            <p>19/11 - Dia Da Bandeira</p>
            <p>20/11 - Dia Nacional Da Conciência Negra</p>
            <p>22/11 - Término Da Semana De Educação Para a Vida</p>
            <p>8/12 - Imaculada conceição</p>
            <p>13/12 - Festa De Natal</p>
        </div>

        <div class="meses">
            <div class="mes">
                <p>DL: 20</p>
                <p>MAIO 
                </p>
                <p>DE: 0</p>
            </div>
            <h2>D</h2>
            <h2>S</h2>
            <h2>T</h2>
            <h2>Q</h2>
            <h2>Q</h2>
            <h2>S</h2>
            <h2>S</h2>
            <p> </p>
            <p> </p>
            <p> </p>
            <p>1</p>
            <p>2</p>
            <p style="color: blueviolet;">3RP</p>
            <p style="color: red;">4M</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p style="color: brown;">8</p>
            <p>9</p>
            <p>10</p>
            <p>11</p>
            <p>12</p>
            <p>13</p>
            <p>14</p>
            <p>15</p>
            <p>16</p>
            <p>17</p>
            <p>18</p>
            <p>19</p>
            <p>20</p>
            <p>21</p>
            <p>22</p>
            <p>23</p>
            <p>24</p>
            <p>25</p>
            <p>26</p>
            <p>27</p>
            <p>28</p>
            <p>29CE</p>
            <p style="color: rgb(255, 181, 21);">30</p>
            <p style="color: green;">31</p>
        </div>

        <div class="meses">
            <div class="mes">
                <p>DL: 20</p>
                <p>JUNHO
                </p>
                <p>DE: 0</p>
            </div>
            <h2>D</h2>
            <h2>S</h2>
            <h2>T</h2>
            <h2>Q</h2>
            <h2>Q</h2>
            <h2>S</h2>
            <h2>S</h2>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p style="color: brown;">8</p>
            <p>9</p>
            <p>10</p>
            <p>11</p>
            <p>12</p>
            <p>13</p>
            <p>14</p>
            <p>15</p>
            <p>16</p>
            <p>17</p>
            <p>18</p>
            <p>19</p>
            <p>20</p>
            <p>21</p>
            <p>22</p>
            <p>23</p>
            <p>24</p>
            <p>25</p>
            <p>26</p>
            <p>27</p>
            <p>28</p>
            <p>29</p>
            <p>30</p>
        </div>

        <div class="meses">
            <div class="mes">
                <p>DL: 13</p>
                <p>JULHO
                </p>
                <p>DE: 2</p>
            </div>
            <h2>D</h2>
            <h2>S</h2>
            <h2>T</h2>
            <h2>Q</h2>
            <h2>Q</h2>
            <h2>S</h2>
            <h2>S</h2>
            <p> </p>
            <p>1</p>
            <p>2</p>
            <p style="color: aquamarine;">3</p>
            <p style="color: orangered;">4EIR</p>
            <p style="color: orangered;">5</p>
            <p>6</p>
            <p>7</p>
            <p style="color: blueviolet;">8&</p>
            <p>9</p>
            <p>10</p>
            <p>11</p>
            <p>12</p>
            <p>13</p>
            <p>14</p>
            <p>15</p>
            <p>16</p>
            <p>17</p>
            <p>18</p>
            <p>19</p>
            <p>20</p>
            <p>21</p>
            <p style="color: green;">22</p>
            <p style="color: green;">23</p>
            <p style="color: green;">24</p>
            <p style="color: green;">25</p>
            <p style="color: green;">26</p>
            <p style="color: green;">27</p>
            <p style="color: green;">28</p>
            <p style="color: green;">29</p>
            <p style="color: green;">30</p>
            <p style="color: green;">31</p>
        </div>

        <div class="meses">
            <div class="mes">
                <p>DL: 20</p>
                <p>AGOSTO
                </p>
                <p>DE: 0</p>
            </div>
            <h2>D</h2>
            <h2>S</h2>
            <h2>T</h2>
            <h2>Q</h2>
            <h2>Q</h2>
            <h2>S</h2>
            <h2>S</h2>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p style="color: green;">1</p>
            <p style="color: green;">2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p style="color: blue;">10</p>
            <p>11</p>
            <p>12</p>
            <p>13</p>
            <p>14</p>
            <p style="color: rgb(255, 181, 21);">15</p>
            <p style="color: green;">16</p>
            <p>17</p>
            <p>18</p>
            <p>19</p>
            <p>20</p>
            <p>21</p>
            <p>22</p>
            <p>23</p>
            <p>24M</p>
            <p>25</p>
            <p>26</p>
            <p>27</p>
            <p>28</p>
            <p>29</p>
            <p>30</p>
            <p style="color: blue;">31</p>
        </div>

        <div class="meses">
            <div class="mes">
                <p>DL: 22</p>
                <p>SETEMBRO 
                </p>
                <p>DE: 0</p>
            </div>
            <h2>D</h2>
            <h2>S</h2>
            <h2>T</h2>
            <h2>Q</h2>
            <h2>Q</h2>
            <h2>S</h2>
            <h2>S</h2>
            <p> </p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p style="color: brown;">7</p>
            <p>8</p>
            <p>9</p>
            <p>10</p>
            <p>11</p>
            <p>12</p>
            <p>13</p>
            <p style="color: blue;">14</p>
            <p>15</p>
            <p>16</p>
            <p>17</p>
            <p>18</p>
            <p>19</p>
            <p>20</p>
            <p style="color: red;">21</p>
            <p>22</p>
            <p>23</p>
            <p>24</p>
            <p>25</p>
            <p>26</p>
            <p>27</p>
            <p>28</p>
            <p>29</p>
            <p>30</p>
        </div>

        <div class="meses">
            <div class="mes">
                <p>DL: 18</p>
                <p>OUTUBRO
                </p>
                <p>DE: 0</p>
            </div>
            <h2>D</h2>
            <h2>S</h2>
            <h2>T</h2>
            <h2>Q</h2>
            <h2>Q</h2>
            <h2>S</h2>
            <h2>S</h2>
            <p> </p>
            <p> </p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p style="color: red;">5M</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9</p>
            <p>10RP</p>
            <p>11</p>
            <p style="color: brown;">12</p>
            <p>13</p>
            <p style="color: green;">14</p>
            <p style="color: green;">15</p>
            <p style="color: green;">16</p>
            <p style="color: green;">17</p>
            <p style="color: green;">18</p>
            <p>19</p>
            <p>20</p>
            <p>21</p>
            <p>22</p>
            <p>23</p>
            <p>24</p>
            <p>25</p>
            <p>26</p>
            <p>27</p>
            <p>28</p>
            <p>29</p>
            <p>30</p>
            <p>31</p>
        </div>

        <div class="meses">
            <div class="mes">
                <p>DL: 20</p>
                <p>NOVEMBRO
                </p>
                <p>DE: 0</p>
            </div>
            <h2>D</h2>
            <h2>S</h2>
            <h2>T</h2>
            <h2>Q</h2>
            <h2>Q</h2>
            <h2>S</h2>
            <h2>S</h2>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p>1</p>
            <p style="color: brown;">2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7</p>
            <p>8</p>
            <p>9M</p>
            <p>10</p>
            <p>11</p>
            <p>12</p>
            <p>13</p>
            <p>14</p>
            <p style="color: brown;">15</p>
            <p>16</p>
            <p>17</p>
            <p>18</p>
            <p>19</p>
            <p>20</p>
            <p>21</p>
            <p>22</p>
            <p>23</p>
            <p>24</p>
            <p>25</p>
            <p>26</p>
            <p>27</p>
            <p>28</p>
            <p>29</p>
            <p>30</p>
        </div>

        <div class="meses">
            <div class="mes">
                <p>DL: 10</p>
                <p>DEZEMBRO
                </p>
                <p>DE: 2</p>
            </div>
            <h2>D</h2>
            <h2>S</h2>
            <h2>T</h2>
            <h2>Q</h2>
            <h2>Q</h2>
            <h2>S</h2>
            <h2>S</h2>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
            <p>6</p>
            <p>7M</p>
            <p style="color: rgb(255, 181, 21);">8</p>
            <p>9CC</p>
            <p>10</p>
            <p>11</p>
            <p>12</p>
            <p style="color: aqua;">13</p>
            <p>14</p>
            <p>15</p>
            <p style="color: orangered;">16EIR</p>
            <p style="color: orangered;">17</p>
            <p style="color: orangered;">18</p>
            <p style="color: orangered;">19RP</p>
            <p style="color: orangered;">20</p>
            <p>21</p>
            <p>22</p>
            <p style="color: orangered;">23</p>
            <p style="color: green;">24</p>
            <p style="color: green;">25</p>
            <p style="color: green;">26</p>
            <p style="color: green;">27</p>
            <p style="color: green;">28</p>
            <p style="color: green;">29</p>
            <p style="color: green;">30</p>
            <p style="color: green;">31</p>
        </div>


</body>   
</html> 