<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="icon\cicalt-logo.ico" type="image/x-icon"/>
    <title>CICALT</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="jornal.css">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Khand' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="wario">
            <h1 class="logo"><a href="index.html">CICALT</a></h1>
        </div>
        <div class="logo2">
        </div>
        <div>
            <a href="https://cidadao.mg.gov.br/"><button class="painel"><i class="bi bi-person"></i></button></a>
        </div>
    </header>
    <nav>
        <a href="curso1.html" target="_blank"><p>Cursos</p></a>
        <a href="feira.html" target="_blank"><p>Feira de Ciências</p></a>
    </nav>
    <div class="jornalMenu">
        <div class="photo" style="border: black 1px solid;">
            <img src="icon\20240229_153836~2.jpg" alt="cicalt">
        </div>
        <div class="textpoto" style="border: black 1px solid;">
            <h2>Apresentação do Projeto</h2>
            <p>Olá, a ideia dessa apresentação é explicar nosso trabalho de criação de um site para a escola.
                Dentro da escola, existe um curso de DESENVOLVIMENTO DE SISTEMAS, lecionado pelo professor André Rodrigues, que
                dirigiu a produção deste site.
                Nosso ideia com o site é ajudar e divulgar tanto o Ensino Médio quanto os cursos dentro do espaço dentro do Plug Minas.
                No site também, planejamos colocar o calendário escolar, notas e quantidades de faltas dos alunos junto com diversas
                outras funções. Essa ideia do site surgiu da ideia de nosso professor André Rodrigues, o professor propôs para nós alunos,
                que fizéssemos um site para ajudar os alunos com funções como: mapa do campus, jornal, painel do aluno além de
                algumas outras ferramentas.
                Com isso, procuramos saber a história de cada curso, de como surgiram aqui no Plug Minas, e também procuramos um
                pouco mais sobre a história de como a nossa escola realmente se tornou o Cicalt.</p>
        </div>
        <div class="events" style="border: black 1px solid;">
            <div class="titleEvents">
                <h1>Feira de Ciências</h1>
            </div>
            <div class="contentEvents">
                <p>No dia 14, ocorreu a feira de ciências do CICALT. Você pode encontrar todos os trabalhos na nossa página <a href="feira.html" style="text-decoration: underline; color: black;">aqui</a>
            </div>
        </div>
        <div class="pastEvents">
            <h2><a href="noticia.html" style="text-decoration: none; color: black;">CICALT, um freio para a criatividade?</a></h2>
            <div class="contentEvents">
                <p>Fernanda Gabrielle - 2° Integral</p>
            </div>