body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 5vh 80vh;
    width: 100%;
}

h1 {
    margin: 0;
}

header {
    background-color: #4F2C80;
    height: 100%;
    display: flex;
}

header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
}

.logo {
    font-weight: 900;
    color: #F2EFE9;
    letter-spacing: 10px;
    font-family: 'Josefin Sans';
}

.logo2 {
    font-weight: 900;
    font-size: 100%;
    color: #F2EFE9;
    letter-spacing: 10px;
    font-family: 'Josefin Sans';
    display: flex;
    flex-direction: column;
}

.logo2 > a {
    color: white;
    text-decoration: none;
    padding: 1%;
}

nav {
    background-color: #E57C4A;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans';
    color: #F2EFE9;
    font-size: 100%;
    letter-spacing: 8px;
}

nav > a {
    margin: 0 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 0px 0.5%;
}

main {
    background-color: white;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.painel {
    background-color: transparent;   
    border: 0px;
    width: 100px;
    height: 70%;
}

.painel > i {
    font-size: 50px;
}

.painel > i:hover, .logo2 > a:hover{
    color: #E57C4A;
}

nav > a:hover {
    background-color: #4F2C80;
    margin-bottom: 20px;
    border-radius: 0px 0px 20px 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.imagem {
    display: flex;
    margin: 20px 0;
    width: 60%;
    height: 50%;
    background-color: gray;
}

.texto {
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}

.titulo {
    font-size: 70px;
    justify-self: center;
    align-self: center;
}

.componentes{
    font-size: 40px;
    margin: 0;   
}

.textoreal {
    font-size: 20px;
    margin: 0;
}
