<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="icon\cicalt-logo.ico" type="image/x-icon"/>
    <title>CICALT</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="main.css">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Khand' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="wario">
            <h1 class="logo"><a href="index.html">CICALT</a></h1>
        </div>
        <div>
            <a href="https://cidadao.mg.gov.br/"><button class="painel"><i class="bi bi-person"></i></button></a>
        </div>
    </header>
    <nav>
        <a href="curso1.html" target="_blank"><p>Cursos</p></a>
        <a href="feira.html" target="_blank"><p>Feira de Ciências</p></a>
    </nav>
    <main>
    <div class="conteudo">
        <div class="content">
            <div class="texto-content">
                <h1>Ensino médio</h1>
                <p>
                    Hoje na escola temos 6 salas de aula do ensino médio operantes. São elas as turmas, 1° Integral, 1° Desenvolvimento de
                    Sistemas, 2° Integral, 2° Desenvolvimento de Sistemas, 3° Integral e 3° Desenvolvimento de Sistemas. Com aulas que
                    começam as 7 da manhã e vão até as 16:40, com intervalos as 9:30, 11:30 e as 14:40.
                    Temos também as turmas noturnas e EJA, que usam o espaço da escola de 18:50 até 22:30.</p>
                <h1>Instrumentos Musicais:</h1>
                <p>Um curso de instrumentos musicais é um programa educacional projetado para ensinar os alunos a tocar um ou mais
                    instrumentos musicais. Esses cursos variam em complexidade, abrangendo desde aulas para iniciantes, que focam em
                    habilidades básicas como leitura de partituras, postura e técnica, até níveis avançados, que incluem interpretação,
                    improvisação e performance.
                    Os cursos geralmente incluem uma combinação de aulas teóricas e práticas. A parte teórica pode abranger teoria musical,
                    história da música, e análise de diferentes estilos musicais. As aulas práticas envolvem a execução do instrumento
                    escolhido, com exercícios técnicos, prática de repertório e, muitas vezes, ensaios em grupo.
                    Os instrumentos ensinados podem incluir piano, violão, violino, flauta, bateria, entre outros, dependendo da especialização
                    do curso. Alguns programas também oferecem a oportunidade de aprender sobre a manutenção e afinação dos
                    instrumentos, bem como a participação em apresentações ao vivo.
                    Esses cursos são oferecidos em diversos formatos, como aulas individuais, em grupo, presenciais ou online, e podem ser
                    encontrados em escolas de música, conservatórios, ou plataformas de ensino digital. Ao concluir um curso de instrumentos
                    musicais, o aluno adquire habilidades que permitem a execução musical com confiança, podendo seguir carreira na música
                    ou simplesmente desfrutar do instrumento como um hobby.</p>
                <h1>Figurino Cênico</h1>
                <p>Um curso de
                    figurino cênico é
                    um programa
                    voltado para o
                    estudo e prática
                    do design e
                    criação de roupas
                    e acessórios
                    usados em
                    produções
                    teatrais, filmes,
                    programas de TV,
                    óperas e outras
                    performances ao vivo. O curso abrange uma
                    ampla gama de habilidades e
                    conhecimentos,incluindo história do vestuário,análise de
                    personagens. Os alunos
                    aprendem a interpretar
                    roteiros e conceitos de direção para criar figuras que não apenas
                    vestem os personagens, mas também expressam suas
                    personalidades, épocas e ambientes. O processo criativo inclui
                    pesquisa histórica, desenho de croquis, escolha de tecidos e cores,
                    e a construção de peças de vestuário.
                    Além das habilidades técnicas de costura e modelagem, o curso também pode incluir treinamento em técnicas de
                    envelhecimento de tecidos, tinturaria, e criação de acessórios como chapéus, jóias, e máscaras. Muitas vezes, os alunos
                    também aprendem a trabalhar em colaboração com diretores, cenógrafos e maquiadores para garantir que a estatueta se
                    integre harmoniosamente ao conjunto da produção.
                    O curso pode ser oferecido em diferentes níveis, desde introduções básicas ao design de figurinos até programas
                    avançados que preparam os alunos para carreiras profissionais na indústria do entretenimento. Ao final, os participantes
                    estão capacitados a criar figuras que não apenas complementam a narrativa de uma produção, mas que também ajudam a
                    dar vida aos personagens e ao ambiente cênico.</p>
                    <h1>Artes Visuais</h1>
                    <p>Um curso de artes visuais é um programa educacional focado no estudo e
                        prática de diferentes formas de expressão artística visual, como pintura,
                        desenho, escultura, fotografia, design gráfico, e novas mídias. O curso
                        visa desenvolver a criatividade, habilidades técnicas e o entendimento
                        crítico dos alunos em relação à arte e sua história.
                        Os alunos são apresentados a uma variedade de técnicas e materiais,
                        como aquarela, óleo, acrílico, carvão, argila, e ferramentas digitais. Além
                        da prática artística, o curso também abordou teoria da arte, história da
                        arte, análise crítica e estudos culturais, fornecendo uma base sólida para
                        a compreensão das influências e movimentos artísticos ao longo do
                        tempo.
                        Um componente chave do curso é o desenvolvimento de um portfólio,
                        onde os alunos aplicam o que aprenderam para criar uma coleção de
                        trabalhos que refletem seu estilo pessoal e suas habilidades técnicas. O
                        curso também pode incluir visitas a museus, galerias, e a participação em
                        exposições, proporcionando uma visitação no mundo da arte.
                        Além das disciplinas práticas e teóricas, o curso pode oferecer aulas
                        sobre curadoria, marketing de arte, e empreendedorismo, preparando os
                        alunos para diferentes caminhos profissionais, seja como artistas
                        independentes, designers, professores, ou curadores.
                        No final do curso, os alunos geralmente realizam uma exposição de seus
                        trabalhos, demonstrando sua evolução artística e técnica ao longo do programa. Um curso de artes visuais oferece uma
                        
                        formação abrangente, capacitando os alunos a se expressarem artisticamente e a explorarem as diversas possibilidades no
                        campo das artes visuais.</p>
                    <h1>Canto</h1>
                    <p>Um curso de canto é um programa educacional dedicado ao
                        desenvolvimento das habilidades vocais e técnicas de canto. Ele
                        abrange desde a técnica vocal básica até a performance avançada e
                        pode ser focado em diversos estilos musicais, como clássico, jazz, pop,
                        rock, ópera, entre outros.
                        O curso normalmente inclui:
                        1. Técnica Vocal: Os alunos aprendem a utilizar corretamente suas cordas
                        vocais, a melhorar a ressonância e a projeção da voz. Isso inclui
                        exercícios de respiração, aquecimento vocal, e técnicas de controle do
                        tom e da afinação.
                        2. Interpretação Musical: O curso ensina a interpretação de diferentes
                        estilos e gêneros musicais, ajudando os alunos a transmitir emoções e
                        histórias através da voz. Isso pode incluir a análise de letras, a prática
                        de expressão facial e corporal, e a adaptação ao estilo musical
                        escolhido.
                        3. Leitura e Teoria Musical: Para cantar de forma eficaz, é importante ter
                        uma compreensão sólida da teoria musical, como leitura de partituras,
                        ritmo e harmonia. O curso geralmente inclui aulas sobre esses aspectos
                        para ajudar os alunos a entender e interpretar a música de maneira mais
                        completa.
                        4. Performance e Apresentação: Os alunos têm oportunidades para se
                        apresentar em recitais, shows ou gravações, desenvolvendo suas habilidades de performance e aprendendo a lidar
                        com o palco e a audiência.
                        5. Cuidado com a Voz: Técnicas para a preservação e cuidados com a saúde vocal também são abordadas, incluindo
                        práticas para evitar lesões vocais e manter uma boa saúde vocal.
                        Os cursos de canto podem ser oferecidos em diferentes formatos, desde aulas individuais, que proporcionam uma
                        abordagem personalizada e focada nas necessidades do aluno, até aulas em grupo, que podem ser mais dinâmicas e
                        proporcionar uma experiência colaborativa. Além disso, podem ser presenciais, em escolas de música e conservatórios, ou
                        online, através de plataformas de ensino a distância.
                        Ao final do curso, os alunos têm uma compreensão aprofundada das técnicas vocais e estão preparados para cantar com
                        confiança, seja como profissionais ou como amadores, em diversos contextos musicais.</p>
                        <h1>Dança</h1>
                        <p>Um curso de dança é um programa educacional que ensina técnicas e habilidades relacionadas à dança, abrangendo uma
                            variedade de estilos e formas de movimento. Os cursos podem focar em estilos específicos, como balé, jazz, hip-hop, dança
                            contemporânea, dança de salão, entre outros, ou oferecer uma abordagem mais geral e multidisciplinar.
                            Os principais componentes de um curso de dança incluem:
                            1. Técnica de Dança: Os alunos aprendem os fundamentos técnicos do estilo de dança escolhido, que podem incluir
                            posturas, movimentos, e técnicas específicas. Isso envolve treinamento físico intenso para desenvolver força,
                            flexibilidade, e coordenação.
                            2. Coreografia e Movimento: O curso ensina como criar e executar coreografias. Os alunos aprendem a combinar
                            movimentos para formar sequências e danças completas, desenvolvendo habilidades de composição e expressão
                            criativa.
                            3. Teoria da Dança: Além das habilidades práticas, os alunos estudam a teoria e a história da dança, incluindo os
                            principais estilos, movimentos culturais, e a evolução da dança ao longo do tempo.
                            4. Performance: Os alunos têm oportunidades de se apresentar em recitais, competições ou shows, o que ajuda a
                            desenvolver habilidades de performance e a lidar com a pressão do palco. Isso também pode incluir ensaios e
                            apresentações em grupo.
                            
                            5. Educação Física e Saúde: O curso frequentemente aborda aspectos
                            relacionados à saúde e ao bem-estar dos dançarinos, como prevenção de
                            lesões, cuidados com o corpo, e práticas de aquecimento e alongamento.
                            6. Expressão Artística: Os alunos exploram como a dança pode ser usada
                            como uma forma de expressão pessoal e comunicação. Isso pode incluir a
                            interpretação de emoções e histórias através do movimento.
                            Os cursos de dança podem variar em formato, desde aulas individuais e
                            em grupo, até programas intensivos e workshops especializados. Eles
                            podem ser oferecidos em escolas de dança, universidades, academias, ou
                            plataformas online.
                            Ao final do curso, os alunos não apenas desenvolvem habilidades técnicas
                            e artísticas, mas também ganham uma compreensão profunda do papel
                            
                            da dança como forma de expressão e comunicação, o que pode prepará-
                            los para carreiras como dançarinos profissionais, coreógrafos, professores
                            
                            de dança ou simplesmente para desfrutar da dança como um hobby
                            enriquecedor.</p>
                        <h1>Teatro</h1>
                        <p>Um curso de teatro é um programa educacional focado no
                            desenvolvimento das habilidades necessárias para a atuação e
                            produção teatral. Ele abrange desde a técnica de interpretação e a
                            criação de personagens até a direção e a produção de peças. O
                            curso oferece uma combinação de teoria e prática para preparar os
                            alunos para diversas facetas do teatro, seja como atores, diretores,
                            dramaturgos ou profissionais de produção.
                            Os principais componentes de um curso de teatro incluem:
                            1. Técnica de Atuação: Os alunos aprendem técnicas de atuação,
                            incluindo improvisação, construção de personagens, e uso de voz e
                            corpo para expressar emoções e intenções. Isso pode incluir
                            treinamento em diferentes estilos de atuação, como o realismo ou o
                            teatro físico.
                            2. Análise e Interpretação de Texto: O curso inclui o estudo de textos
                            teatrais, análise de roteiros, e a interpretação de obras dramáticas.
                            Os alunos aprendem a entender e a trazer à vida as intenções dos
                            dramaturgos.
                            3. Direção Teatral: Para aqueles interessados em dirigir, o curso
                            oferece formação em técnicas de direção, incluindo a orientação de
                            atores, a montagem de cenas e a visão geral da produção.
                            4. Produção e Cenografia: Os alunos exploram aspectos da produção
                            teatral, como cenografia, figurino, iluminação e som. Isso inclui o
                            planejamento e a execução de elementos técnicos e visuais que
                            contribuem para a experiência teatral.
                            
                            5. História do Teatro: O curso abrange a evolução do teatro ao longo dos tempos, estudando diferentes períodos,
                            estilos e movimentos teatrais. Isso ajuda a contextualizar as práticas e os estilos contemporâneos.
                            6. Performance e Apresentações: Os alunos têm a oportunidade de se apresentar em peças e recitais, o que ajuda a
                            desenvolver suas habilidades de performance e a ganhar experiência prática no palco.
                            7. Colaboração e Trabalho em Equipe: O teatro é uma arte colaborativa, e os cursos frequentemente enfatizam a
                            importância do trabalho em equipe, comunicação e colaboração entre atores, diretores e outros membros da equipe
                            de produção.
                            8. Crítica e Análise Teatral: Os alunos aprendem a criticar e analisar performances teatrais, desenvolvendo a
                            capacidade de avaliar e oferecer feedback construtivo.
                            Os cursos de teatro podem variar em formato, oferecendo desde programas de graduação em instituições de ensino
                            superior até workshops e cursos de curta duração em escolas de teatro e academias. Ao final do curso, os alunos estão
                            preparados para se envolver em diversas áreas do teatro, seja como atores profissionais, diretores, dramaturgos ou em
                            funções de produção, ou simplesmente para aproveitar o teatro como uma forma de expressão artística e cultural.</p>
            </div>
        </div>
    </div>
        
        
        

    </main>